<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>Acgs</title>
=======
  <title>FirstApp</title>
>>>>>>> fef95f82bcda80c7749eaf95e31fbee2e7c177b1
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
